<div class="book-block" selectBlock="purple">
    <div class="title-block">
        <h3><a routerLink="/product/{{_book.id}}">Title: {{_book?.name}}</a></h3>
        <div class="category">{{_book?.category | bookType}}</div>
    </div>
    <div class="body-block">
        <div class="info">
            <div class="book-desc">{{_book?.description}}</div>
        </div>
        <div class="price">
            <div class="book-price">Price: {{_book?.price | currency:'UAH'}}</div>
            <button mat-raised-button color="primary" [disabled]="!_book?.isAvailable" (click)="buy()">Buy</button>
        </div>
    </div>
</div>