<div class="content">
    <div class="products" *ngIf="_books && _books.length > 0; else emptyProductList">
        <div class="item" *ngFor="let book of _books">
            <div class="id">{{book.id}}</div>
            <div class="name">{{book.name}}</div>
            <div class="edit">
                <button mat-button color="accent" (click)="edit(book.id)">Edit</button>
            </div>
            <div class="delete">
                <button mat-button color="warn" (click)="remove(book.id)">Remove</button>
            </div>
        </div>
    </div>

    <ng-template #emptyProductList>
        No books
    </ng-template>

    <button mat-fab color="accent" class="add-btn" (click)="addBook()">
        <mat-icon>add</mat-icon>
    </button>
</div>