.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title {
    flex-grow: 3;
}

.num {
    flex-grow: 1;   

    input {
        width: 50px;
        text-align: center;
    }
}

.del {
    flex-grow: 1;
    text-align: center;

    &:hover {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
}